.body{
background-color: black;
}

.full-section {
    width: 100%;
    height: 100vh; /* Toma el 100% de la altura de la pantalla */
    display: flex; /* Asegura que el contenido ocupe el espacio */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita desplazamiento */
}

.full-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}
.bg-image {
    background-image: url('img/Capturefastf.PNG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.im {
    width: 300px;  /* Ancho de la imagen */
    height: 100px; /* Alto de la imagen */
    object-fit: cover; /* Mantiene el contenido sin deformarlo */
    border-radius: 10px;
     /* Bordes ligeramente redondeados (opcional) */
}   
.whatsapp-float {
    position: fixed; /* Se mantiene fijo en la pantalla */
    width: 60px;
    height: 60px;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la parte derecha */
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(177, 168, 168, 0.3);
    z-index: 1000; /* Se mantiene sobre otros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.whatsapp-float:hover {
background-color: #1ebc5d;
}
.contenedor-texto {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.PedidosYa{
    height: 10px;
    width: 200px;
    cursor: pointer;
    right: 20px;
}
#card{
   background-color: rgb(100, 102, 4);
}
.contcard{
    background-color: rgb(41, 41, 23);
}
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#btnMover {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
